# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

cache*
Backup*
debug
release

*.crf
*.htm
*.build_log.htm
*.dep
*.axf
*.uvguix.*


# Игнорируем автогенерируемый файл компонентов RTE
**/RTE/RTE_Components.h
**/RTE/_*

# Игнорируем временные файлы сборки Keil
*.txt
*.txt
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.build_log.htm
*.dep
*.manifest
*.scvd
_2i
*.lst
*.map

# Игнорируем пользовательские настройки интерфейса Keil
*.uvguix.*
*.uv2.bak
*.uv3.bak
*.uv4.bak
*.uvproj.bak
*.uvopt.bak
*.uvoptx